*{
	font-family: 'Open Sans', sans-serif;
}
nav{
	background-color: white;
	position: sticky;
	top: 0;
}

nav .nav-logo{
	display: inline-block;
}

nav .right-nav{
	display: inline;
	float: right;
	margin-right: 8%;
}

nav .nav{
	display: inline;
	text-align: right;
	list-style-type: none;
	word-spacing: 5px;

}

.tuitt-button{
	background-color: #c2195b;
	border-radius: 25px;
	border: 0;
	padding: 0.5rem;
	color: white;
}

#bg-image{
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	margin-bottom: 5%;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 20rem;
}

.container{
	text-align: right;
	margin-left: 50%;
	margin-right: 10%;
	color: white;
}

.title{
	font-family: "Times New Roman", Times, serif;
}

.apply-button{
	background-color: #c2195b;
	border-radius: 25px;
	padding: 0.5rem;
	color: white;
	border: 0;
	width: 9rem;

}

.title-2{
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.intro-description{
	margin: 5% 10% 10% 10%;
}

.pre-footer{
	background-color: #f7fbfb;
	height: 50vh;
	padding: 2rem;
	text-align: center;
}


.prefooter-description{
	margin: 5% 10% 0 10%;
	text-align: center;
}

.book-button{
	background-color: #336589;
	border-radius: 25px;
	border: 0;
	padding: 0.5rem;
	color: white;
	text-align: center;
	margin-top: 10px;
	width: 10rem;
}

footer{
	text-align: center;
}

footer span{
	margin-inline: 10px;
}

